/* line 7, ../sass/index0.scss */
body {
  background-color: #f4f5f7;
  height: 1400px;
}

/* line 13, ../sass/index0.scss */
.right {
  width: 82%;
  margin-right: 1%;
  margin-top: 16px;
  background-color: #fff;
  float: right;
  height: 1500px;
  -moz-box-shadow: 0 0 10px #666;
  -webkit-box-shadow: 0 0 10px #666;
  box-shadow: 0 0 10px #666;
}

/* line 24, ../sass/index0.scss */
header ul {
  border-bottom: 3px solid #ececec;
  list-style: none;
  margin-left: 28px;
  margin-right: 28px;
  margin-top: 36px;
  padding-left: 0;
}
/* line 31, ../sass/index0.scss */
header ul .hover {
  border-bottom: 3px solid #ff8900;
  color: #ff8900;
  margin-bottom: -3px;
}
/* line 36, ../sass/index0.scss */
header ul li {
  font-size: 22px;
  text-align: center;
  color: #919190;
  width: 112px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 36px;
  cursor: pointer;
}

/* line 51, ../sass/index0.scss */
.w1 p, .w2 p, .w4 p {
  font-size: 18px;
  margin-top: 50px;
  margin-left: 108px;
}
/* line 55, ../sass/index0.scss */
.w1 p img, .w2 p img, .w4 p img {
  margin-right: 30px;
}
/* line 58, ../sass/index0.scss */
.w1 p strong, .w2 p strong, .w4 p strong {
  margin-left: 50px;
}

/* line 66, ../sass/index0.scss */
.w1, .w2, .w3 {
  border-bottom: 2px dotted #dbe2e8;
  margin-left: 28px;
  margin-right: 28px;
  padding-bottom: 50px;
}

/* line 76, ../sass/index0.scss */
.w3 ul {
  float: left;
  list-style: none;
  font-size: 18px;
  margin-top: 50px;
  cursor: pointer;
}
/* line 82, ../sass/index0.scss */
.w3 ul:nth-child(1) {
  margin-left: 75px;
}
/* line 85, ../sass/index0.scss */
.w3 ul li {
  margin-bottom: 18px;
}
/* line 87, ../sass/index0.scss */
.w3 ul li img {
  margin-right: 30px;
}

/* line 97, ../sass/index0.scss */
.w4 textarea {
  width: 632px;
  height: 121px;
  padding-top: 10px;
  padding-left: 15px;
}
/* line 103, ../sass/index0.scss */
.w4 p {
  position: relative;
  margin-left: 138px;
}
/* line 106, ../sass/index0.scss */
.w4 p strong {
  display: inline-block;
  position: absolute;
  width: 625px;
  margin-left: 10px;
  left: 150px;
}
/* line 114, ../sass/index0.scss */
.w4 button {
  display: block;
  margin-top: 172px;
  text-align: center;
  margin-bottom: 52px;
  border: none;
  background-color: transparent;
  margin-left: 48%;
}

/* line 127, ../sass/index0.scss */
.left {
  float: left;
  margin-top: 20px;
  height: 1500px !important;
  width: 14%;
  height: 100%;
  background-color: #0e242f;
}
/* line 134, ../sass/index0.scss */
.left ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
/* line 138, ../sass/index0.scss */
.left ul .active {
  color: #fff;
  background-color: #214c63;
}
/* line 142, ../sass/index0.scss */
.left ul li {
  color: #69767d;
  list-style: none;
  height: 90px;
  line-height: 90px;
  font-size: 21px;
  text-align: center;
  cursor: pointer;
}
/* line 150, ../sass/index0.scss */
.left ul li span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 153, ../sass/index0.scss */
.left ul li span img {
  padding-right: 10px;
  margin-right: 10px;
  margin-bottom: 4px;
}
/* line 161, ../sass/index0.scss */
.left h1 {
  background-color: #081c2a;
  color: #fff;
  line-height: 90px;
  margin-top: -5px;
  height: 90px;
  text-align: center;
}

/* line 174, ../sass/index0.scss */
.w1 .sm-p, .w2 .sm-p {
  width: 302px !important;
  margin-right: 25px;
}
/* line 178, ../sass/index0.scss */
.w1 input, .w2 input {
  width: 632px;
  height: 41px;
  border: 2px solid #ccc;
  padding-left: 15px;
  border-radius: 5px;
}
/* line 185, ../sass/index0.scss */
.w1 select, .w2 select {
  width: 302px !important;
  margin-right: 25px;
  color: #666;
  height: 41px;
  border: 2px solid #ccc;
  padding-left: 15px;
  border-radius: 5px;
}
/* line 193, ../sass/index0.scss */
.w1 select:nth-child(1), .w2 select:nth-child(1) {
  margin-left: -18px;
}

/* line 204, ../sass/index0.scss */
.w3 {
  font-size: 18px;
  margin-top: 50px;
  margin-left: 138px;
}
/* line 205, ../sass/index0.scss */
.w3 ul {
  width: 632px;
  margin-left: 138px;
  height: 177px;
  border-radius: 5px;
}
/* line 210, ../sass/index0.scss */
.w3 ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  cursor: pointer;
}
/* line 218, ../sass/index0.scss */
.w3 img {
  margin-right: 30px;
}
/* line 221, ../sass/index0.scss */
.w3 .span-1 {
  margin-left: 45px;
}
/* line 224, ../sass/index0.scss */
.w3 strong {
  margin-left: 50px;
}
